.p1{
    font-size: 30px;
    color: #0086b3;
}
.cintainer-col {
    margin-top: 40px;
}
.col-md-8,.col-md-3,.col-md-6,.col-md-4,.col-md-5{
    /*border: 2px solid whitesmoke;*/
    padding: 10px;
}
.row{
    margin: -10px;
}
.col-md-3{
    float: right;
}
.nav-tabs{
    float: left;
}
.getmore{
    float: right;
    line-height: 33px;
}

.body-list li{
    margin: 20px;
    float: left;
}
h2{
    float: left;
    width: 130px;
    margin: 0;
    text-align: center;
        }
.left-head{
    height: 34px;
}
.index-hero{
    margin-top: 40px;
}
.right{
    height: 33px;
    line-height: 33px;
}
.video-left-list>li{
    float: left;
    margin: 0 20px 20px 0;
    overflow: hidden;
    width: 184px;
    height: 140px;
}
.video-left-list>li:hover{
    overflow: visible;
}
.right-head{
    font-size: 20px;
    float: left;
    color: deepskyblue;
}
.video-list>li{
    margin: 10px;
}
.minilogo{
    float: left;
}
.date{
    float: right;
}
.strategy-list>li{
    margin: 10px;
}
.picture-nav>li{
    text-decoration: none;
    width: 80px;
    height: 28px;
    font-size: 20px;
    float: left;
}
.picture-body img{
    float: left;
    position: relative;
}
.picture-body span{
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    padding: 0 20px;
    position: absolute;
    left: 0;
    bottom: -40px;
    font-size: 16px;
    color: #fff;
}
.picture-body{
    margin-top: 10px;
}
.data .col-md-3{
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    float: left;
    height: 400px;
}
.checkbox-inline{
    display: inline-block;
    line-height: 15px;
    font-size: 15px;
    margin: 10px !important;
}
.data-left>span{
    margin: 10px;
    height: 26px;
    display: block;
    font-size: 18px;
}
#keyworld{
    margin: 10px;
}
.filter{
    -webkit-appearance:normal !important;
    -moz-appearance: normal !important;
}
.hero__list{
    height: 400px;
    overflow: auto;
    width: 800px;
}
.hero__list ul{
    list-style:none
}
.hero__list li{
    float: left;
    position: relative;
    padding: 10px;
}
.hero__list img{
    height: 60px;
}
.hero__list em{
 display: block;
    text-align: center;
}
.foot {
    background-color: whitesmoke;
    height: 100px;
    margin-top: 40px;
}
.waper li{
    display: inline-block;
    margin: 20px 20px 20px 60px;
}
.waper p{
    display: inline-block;
    margin-left: 100px;
}
