.navbar-img{
   padding-top: 5px;/*导航图片排版*/
}
.navbar-brand{
    width: 160px;
    background: url("../images/Logo.png") no-repeat;
    background-size: 50px 40px ;
    background-position: 100px 5px;
}
.subtitle{
    font-size: 30px;
    color: #0086b3;/*副标题*/
}
.header-col {
    margin-top: 40px;
}
.search{
    margin-top: 70px;
    float: right;
}
.header-image{
    margin-top: 10px;
    margin-left: 80px;
}
.nav-tabs{
    float: left;
}
.getmore{
    float: right;
    line-height: 33px;
}
.video .getmore{
    margin-right: 100px;
}
.video-left-list{
    margin: 20px;
}
h2{
    float: left;
    width: 130px;
    margin: 0;
    text-align: center;
}
.minilogo{
    float: left;
}
.left-head{
    height: 34px;
}
.index-hero{
    margin-top: 40px;
}
.right{
    height: 33px;
    line-height: 33px;
}
.video-left-list>li{
    float: left;
    margin: 0 20px 20px 0;
    overflow: hidden;
    width: 184px;
    height: 140px;
}
.video-body .time{
    margin-left: 140px;
    margin-top: -20px;
    color: white;
    background-color: #555555;
    z-index: 999;
    position: absolute;
    display: inline;
}
.video-body .title{
    height: 20px;
    line-height: 20px;
    transition: all .2s linear;
    color: #222;
    overflow: hidden;
    width: 178px ;
}
.video-body .play{
    float: left;
    display: inline;
}
.video-body .comments{
    float: right;
    display: inline;
}
.right-head{
    font-size: 20px;
    float: left;
}
.video-list>li{
    margin: 20px 0px;
}
.num{
    color: #fff;
    text-align: center;
    background-color: #b8c0cc;
    border-radius: 4px;
    padding: 0 3px 0 3px;
    font-weight: bolder;
    font-family: "Arial", "黑体", "sans-serif";
}
.n1,.n2,.n3{
    background-color: red;
}

.date{
    float: right;
}
.strategy-list>li{
    margin: 10px 10px 10px 0;
}
.picture-nav>li{
    text-decoration: none;
    width: 80px;
    height: 28px;
    font-size: 20px;
    float: left;
}
.picture-body img{
    float: left;
    position: relative;
}
.picture-body span{
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    padding: 0 20px;
    position: absolute;
    left: 0;
    bottom: -40px;
    font-size: 16px;
    color: #fff;
}
.picture-body{
    margin-top: 10px;
}
.data .col-md-3{
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    float: left;
    height: 400px;
}
.checkbox-inline{
    display: inline-block;
    line-height: 15px;
    font-size: 15px;
    margin: 10px !important;
}
.data-left>span{
    margin: 10px;
    height: 26px;
    display: block;
    font-size: 18px;
}
.data .form-control{
    margin: 10px;
    width: 80%;
}
.filter{
    -webkit-appearance:normal !important;
    -moz-appearance: normal !important;
}
.hero__list{
    height: 400px;
    overflow: auto;
    width: 800px;
}
.hero__list ul{
    list-style:none
}
.hero__list li{
    float: left;
    position: relative;
    padding: 10px;
}
.hero__list img{
    height: 60px;
}
.hero__list em{
 display: block;
    text-align: center;
}
.foot {
    background-color: whitesmoke;
    height: 100px;
    margin-top: 40px;
}
.waper li{
    display: inline-block;
    margin: 20px 20px 20px 60px;
}
.waper p{
    display: inline-block;
    margin-left: 100px;
}
